compile_commands.json
packages/build
packages/install
packages/log
**/.cache
**/compile_commands.json
**/.cache
plots
results
packages/src/anytime_yolo/weights_32/layer_*.onnx
packages/src/anytime_yolo/weights_32/exit_*.onnx
packages/src/anytime_yolo/weights_32/model.json
packages/src/anytime_yolo/weights_32/nms.onnx